#add-train{
    background: #fd5a1e;
    color: #27251f;
    margin-top: 20px;
}

body {
    background: #27251F;
    color: #EFD19F;
}

.table thead th{
    color: #EFD19F;
    background: #27251F;
}

.text-center {
    background: #27251F;
}

.h3, h3 {
    text-align: center;
}

.panel-body {
    background: #27251F;
    color: #fd5a1e;
}

.panel-heading {
    background: #27251F;
}