#add-train{
    background: #fd5a1e;
    color: #27251f;
    margin-top: 20px;
}

body {
    background: #27251F;
    color: #EFD19F;
}

.table thead th{
    color: #EFD19F;
    background: #27251F;
}

.text-center {
    background: #27251F;
}

.h3, h3 {
    text-align: center;
    font-family: 'Major Mono Display', monospace;
}

.panel-body {
    background: rgb(51, 50, 47);
    color: #fd5a1e;
    font-family: 'Major Mono Display', monospace;
}

.panel-heading {
    background: #27251F;
}

.jumbotron .h1, .jumbotron h1 {
    font-family: 'Alfa Slab One', cursive;
}